Repository brandon-julio-t/invoisus: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      run: bunx eslint --fix --cache --cache-location .eslintcache {staged_files}
      glob: "*.{js,jsx,ts,tsx}"
      stage_fixed: true
    prettier:
      run: bunx prettier --write --cache --cache-location .prettiercache {staged_files}
      glob: "*.{js,jsx,ts,tsx,json,css,md,html}"
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      run: bun run typecheck

chore: remove, because now it's true by defaultt
  next.config.ts
Due: eslint, prettier

refactor: simplify, no benefit from spamming --cache also
  lefthook.yml
  package.json
Due: prettier

feat: hopefully faster
  convex/tsconfig.json
Due: prettier

feat: should ignore _generated (convex & convex/betterAuth)
  .prettierignore
Due: none

style: format code
  convex/schema.ts
Due: eslint, prettier

feat: reduce network round-trip due to visiting redirect page
  components/app-sidebar.tsx
Due: eslint, prettier

feat(perf): separate compute and storage, sqlite (same compute) frequently error time out
  docker-compose.yml
Due: none

chore: remove unused
  convex/http.ts
Due: eslint, prettier

feat: go to /list immediately, reduce network round-trip from index page
  app/(auth)/analysis-workflows/[id]/page.tsx
Due: eslint, prettier

refactor: forgot await
  convex/auth.ts
Due: eslint, prettier

fix: should use localUser
  convex/domains/analyzeInvoice/mutations.ts
Due: eslint, prettier

refactor: getUserByBetterAuth helper function
  convex/_generated/api.d.ts
  convex/domains/analyzeInvoice/mutations.ts
  convex/domains/users/logics.ts
Due: eslint, prettier

fix: should map from better-auth user to local user
  convex/domains/analysisWorkflowDetails/mutations.ts
  convex/domains/analysisWorkflows/mutations.ts
  convex/domains/analyzeInvoice/mutations.ts
Due: eslint, prettier

refactor: back to original docker compose, it turns out just need more cpu and ram
  docker-compose.yml
Due: none

feat: better active nav link check
  components/app-sidebar.tsx
Due: eslint, prettier

feat: prompt eng by toby
  convex/domains/analyzeInvoice/aiTools.ts
Due: eslint, prettier

refactor: simplify check code
  convex/domains/analysisConfigurations/mutations.ts
  convex/domains/customers/mutations.ts
  convex/r2.ts
Due: eslint, prettier

refactor: return null for explicit error handling
  app/(auth)/analysis-workflows/[id]/_components/download-file-button.tsx
  app/(auth)/analysis-workflows/[id]/_logics/download-workflow-details-file.ts
  convex/r2.ts
Due: eslint, prettier

refactor: extract table to files
  convex/_generated/api.d.ts
  convex/schema.ts
  convex/tables/analysisConfigurations.ts
  convex/tables/analysisWorkflowDetails.ts
  convex/tables/analysisWorkflowHeaders.ts
  convex/tables/customers.ts
  convex/tables/users.ts
Due: eslint, prettier

feat: analyze invoice v2, unleashed beast mode of excessive invoice analysis
  app/(auth)/form.ts
  app/(auth)/page.tsx
  convex/_generated/api.d.ts
  convex/domains/analysisWorkflowDetails/core/retryOneAnalysisWorkflowDetailLogic/index.ts
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
  convex/domains/analyzeInvoice/mutations.ts
  convex/domains/analyzeInvoice/workflows.ts
  convex/tables/analysisWorkflowHeaders.ts
Due: eslint, prettier

Revert "refactor: back to original docker compose, it turns out just need more cpu and ram"
  docker-compose.yml
Due: none

chore: no need log user content, because base64 will destroy terminal
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

feat: should save the version
  convex/domains/analyzeInvoice/mutations.ts
Due: eslint, prettier

feat: encourage the use of submit final report tool
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

feat: should default to v1
  convex/domains/analyzeInvoice/mutations.ts
Due: eslint, prettier

feat: default workflow to v1
  convex/domains/analyzeInvoice/mutations.ts
Due: eslint, prettier

fix: should be gemini 3 pro
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

feat: save and log ai qna for funny purpose
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

feat: unlimited step, even after report, so that we can get result.text
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

fix: should defer showing badge until the data is not undefined
  app/(auth)/analysis-workflows/[id]/_components/workflow-details-table-row.tsx
Due: eslint, prettier

feat: prevent gemini 3 from poisoning gpt-5.2's thought
  convex/domains/analyzeInvoice/aiTools.ts
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

feat: encourage the AI to be descriptive
  convex/domains/analyzeInvoice/internalNodeActions/analyzeInvoiceWithAiV2.ts
Due: eslint, prettier

feat: 4 cpu, 8g to run convex and dashboard
  docker-compose.yml
Due: none

chore: new convex update
  .cursor/rules/convex_rules.mdc
  convex/README.md
  convex/tsconfig.json
Due: prettier

refactor: extract component
  app/(auth)/settings/_components/pdf-analysis.tsx
  app/(auth)/settings/page.tsx
Due: eslint, prettier

feat: tiptap markdown
  app/(auth)/settings/_components/data-extraction.tsx
  app/(auth)/settings/page.tsx
  bun.lock
  components/tip-tap-editor.tsx
  package.json
Due: eslint, prettier

feat: update shadcn button
  components/ui/button.tsx
Due: eslint, prettier

feat: editor bubble menu + more complex formatting
  app/(auth)/settings/_components/data-extraction.tsx
  app/(auth)/settings/_components/pdf-analysis.tsx
  bun.lock
  components/tip-tap-editor.tsx
  package.json
Due: eslint, prettier

fix: should be inline to prevent 3-line wrapping when it should be only 2-lines
  components/tip-tap-editor.tsx
Due: eslint, prettier

feat: proper indentation for list 2nd..nth lines
  components/tip-tap-editor.tsx
Due: eslint, prettier
